// ~/.config/niri/my-config.kdl
// 
// 这里是我的 niri 设置，将本文件以及 `myniri/` 目录放到 `~/.config/niri/` 下，
// 并在 `~/.config/niri/config.kdl` 最后写入下句，覆盖默认设置
//    include "my-config.kdl" 
//

//--- 加载子配置 ---
//
include "./myniri/my-binds.kdl"
include "./myniri/my-windowrules.kdl"
include "./myniri/my-recentwindow.kdl"


//--- 环境变量 ---
//
environment {
  LANGUAGE "zh_CN:en"
  LANG "zh_CN.UTF-8"
  // 输入法环境变量
  XMODIFIERS "@im=fcitx"
  QT_IM_MODULES "wayland;fcitx"
  QT_IM_MODULE "fcitx"
  SDL_IM_MODULE "fcitx"
  // qt主题
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  // 解决quickshell图标主题缺失问题
  QS_ICON_THEME "Adwaita"
  // GTK软件使用的渲染器，可以解决n卡双显卡导致的GTK应用启动缓慢问题，AMD或Intel单显卡不需要这行设置可以注释掉
  GSK_RENDERER "gl"
  // 默认文本编辑器
  EDITOR "vim"
}

// 隐藏窗口标题栏
prefer-no-csd

debug {
	// 放宽聚焦拦截，修复点击托盘程序无法跳转聚焦的问题。
	honor-xdg-activation-with-invalid-serial
}


//--- 自启动服务 ---
//
// 输入法
spawn-at-startup "fcitx5" 
// 录屏修复
spawn-sh-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri LANG LANGUAGE LC_MESSAGES && /usr/lib/xdg-desktop-portal-gnome"
// GNOME tracker修复
spawn-sh-at-startup "systemctl --user set-environment XDG_SESSION_CLASS=user"
// 截图音效的守护进程
spawn-at-startup "~/.config/niri/scripts/screenshot-sound.sh"
// 允许root通过用户的xwayland打开窗口
spawn-at-startup "xhost" "+si:localuser:root"

